@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Montserrat:wght@200;400;600&display=swap');

html{
    font-family: 'Georama' sans-serif;
    font-size: 62.5%;
    
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100vh;
    background-color: rgba(18, 18, 168, 0.808);
    
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    
}
.calculator-display{
    padding: 30px 15px;
    margin: 15px 0;
    width: 100%;
    font-size: 4vh;
    text-align: right;
    border: 1px solid gray;
    overflow: auto;
}
.calculator-keypad{
    display: flex;
    width: 100%;   
}
.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 2rem;
}
.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 5px 5px gray;
}

.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
    
}

.keypad-button.yellow{
    background-color: yellow;

}
.keypad-button.large{
    width: 50%;
    
}
.keypad-button.dark{
    background-color: lightgray;
}